.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgba(29, 78, 216, var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.rounded {
    border-radius: .25rem;
}
.h-8 {
    height: 2rem;
}
button {
    cursor: pointer;
    text-transform: none;
    background-color: initial;
    background-image: none;

}
.hover\:bg-blue-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(191, 219, 254, var(--tw-bg-opacity));
}
.font-medium {
    font-weight: 500;
}
.ant-drawer-content-wrapper{
    width: 720px !important;
}
:where(.css-bAMboO).ant-btn {
    color: #fff;
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

// 
.italic {
    font-style: italic;
}
.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.mt-2 {
    margin-top: .5rem;
}
.d-block_choose{
    display: block !important;
}
.ant-drawer-body{
    overflow: auto;
}
.ant-drawer-footer{
    flex-shrink: 0;
    padding: 10px 16px;
    border-top: 1px solid #f0f0f0;
    gap: 8px;
}
.pt_6{
    margin-top: 4.5rem;
}
.hover\:bg-blue-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
:where(.css-dev-only-do-not-override-1c0na6j).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #4096ff;
    border-color: #4096ff;
    background: #4096ff !important;
}
.ant-modal-confirm-btns{
    .ant-btn-default{
        color: #fff;
        border-color: #FF0000;
        background: #FF0000 !important;
    }
    :where(.css-dev-only-do-not-override-1c0na6j).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
        color: #fff;
        border-color: #FF0000;
        background: #FF5C5C !important;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}
@media (max-width:760px) {
    /* CSS rules for screens smaller than or equal to 760px */
    *, :after, :before {
        --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59, 130, 246, 0.5);
        --tw-ring-offset-shadow: 0 0 transparent;
        --tw-ring-shadow: 0 0 transparent;
        --tw-border-opacity: 1;
        border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    }
    .ant-list {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, .85);
        font-size: 14px;
        line-height: 1.5715;
        list-style: none;
        position: relative;
    }
    .ant-spin-nested-loading {
        position: relative;
    }
    .ant-list * {
        outline: none;
    }
    .ant-spin-container {
        position: relative;
        transition: opacity .3s;
    }
    .ant-list * {
        outline: none;
    }
    .ant-list-items {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .ant-spin-container:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: none\9;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        transition: all .3s;
        content: "";
        pointer-events: none;
    }
     .ant-list-item {
        padding: 16px 24px;
    }
    
    .ant-list-split .ant-list-item {
        border-bottom: 1px solid #f0f0f0;
    }
    .block {
        display: block;
    }
    .anticon {
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .px-1{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .d_none_mobile{
        display: none !important;
    }
}
.img_size{
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
}